body {
	margin:0em;
	padding:0em;
	background:#1EB0D7;
	font-family:"Tahoma";
	font-size:10pt;
	color:#525252;
}
nav li {
	display: inline-block
}

nav a{
	display: block;
    float: left;
	margin-right:0.12em;
	padding: 1em 1.5em;
	background: #178EAE;
	box-shadow: inser 0px -2px 0px 0px rgba(0,0,0,0.25);
	text-decoration:none;
	text-shadow: 1px 1px 0px #0C749C;
	text-transform:uppercase;
	font-size: .90em;
	color: #FFFFFF;
}